<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Informacion sobre PV</title>
	</head>
	
	<body>
		<header>
		<h1>Informacion sobre Programacion Visual</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="https://virtual.unju.edu.ar/">Facultad de Ingenieria</a></li>
				<li><a href="https://alumnos.unju.edu.ar/unju/inicio_alumno">Siu Guarani</a></li>
				<li><a href="https://virtual.unju.edu.ar/">Unju Virtual</a></li>
			</ul>
		</nav>
		
		<main>
		<section id="Bienvenida">
			<h2>Bienvenidos</h2>
			<p>Esta es la pagina de la materia Programacion Visual de la Facultad de Ingenieria, de la Universidad
			nacional de Jujuy. La modalidad de la cursada es Semi Presencial, en los siguientes horarios:</p>
			<ol>
				<li>Teoría única: Miércoles: 14 a 17 hs - MODALIDAD VIRTUAL </li>
				<li>Comisión 1 Práctica: Lunes: 18 a 21 hs </li>
				<li>Comisión 2 Práctica: Jueves 14 a 17 hs</li>
				<li>Comisión 3 Práctica: Viernes 18 a 21 hs </li>
			</ol>
			
			
			
			 
			
			
		</section>
		
		<section id="Cuerpo"></section>
		
		<section id="Despedida"></section>
		
		</main>
		
		
	</body>
</html>