<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Informacion sobre PV</title>
		<link rel= "stylesheet" href="../static/css/estilos.css">
	</head>
	
	<body>
		<header id="encabezado">
			<h1>Informacion sobre Programacion Visual</h1>
		</header>
		
		<nav class="menu">
			<ul class="link">
				<li><a class="enlace" href="https://virtual.unju.edu.ar/">Facultad de Ingenieria</a></li>
				<li><a class="enlace" href="https://alumnos.unju.edu.ar/unju/inicio_alumno">Siu Guarani</a></li>
				<li><a class="enlace" href="https://virtual.unju.edu.ar/">Unju Virtual</a></li>
			</ul>
		</nav>
		
		<main class="principal">
		<section id="Bienvenida">
			<h2 class="titulo2">¡¡¡¡¡¡¡Bienvenidos!!!!!!</h2>
			<p class="parrafo">Esta es la pagina de la materia Programacion Visual de la Facultad de Ingenieria, de la Universidad
			nacional de Jujuy. La modalidad de la cursada es Semi Presencial, en los siguientes horarios:</p>
			<ol class="lista">
				<li>Teoría única: Miércoles: 14 a 17 hs - MODALIDAD VIRTUAL </li>
				<li>Comisión 1 Práctica: Lunes: 18 a 21 hs </li>
				<li>Comisión 2 Práctica: Jueves 14 a 17 hs</li>
				<li>Comisión 3 Práctica: Viernes 18 a 21 hs </li>
			</ol>
			<h2 class="titulo2">Objetivos</h2>
			<ol class="lista">
				<li>Conceptualizar la arquitectura de aplicaciones web en el contexto de las tecnologías usadas en la asignatura </li>
				<li>Conceptualizar que es un framework, que es spring framework</li>
				<li>Conceptualizar spring boot y contrastar sus aplicaciones con la configuración manual de spring framework</li>
				<li>Realizar una introducción al uso de la capa controller</li>
				<li>Realizar una introducción a HTML</li>
			</ol>
			
			
			 
			
			
		</section>
		
		<section id="Cuerpo"></section>
		<h2>PROGRAMACIÓN VISUAL APU 2008 SAN SALVADOR – AÑO 2024</h2>
		<h3 class="titulo3">UNIDAD I: Lenguaje Java</h3>
		<p class="parrafo">Tipos de datos primitivos y complejos. Estructuras de datos. Operadores. Uso de Strings, Arreglos y
Colecciones. Conceptos generales de la Programación Orientada a Objetos. Clases y objetos: Definición y
Ejemplos</p>
		<h3 class="titulo3">UNIDAD II: Introducción a Spring Boot</h3>
		<p class="parrafo">Arquitectura de aplicaciones Web. Herramientas necesarias. ¿Qué es un Framework? Evolución de Spring.
Módulos disponibles. Arquitectura de una aplicación con Spring. Creación de proyectos con Spring Boot en
un IDE. Concepto de Controladores. Gestión de peticiones con RequestMapping. Introducción a HTML.
Estructura de un documento HTML. Introducción a CCS. Creación de un sitio Web HTML.</p>
		<h3 class="titulo3">UNIDAD III: Gestión de Dependencias y Versionamiento</h3>
		<p class="parrafo">Gestión de Proyectos mediante un sistema de control de versionamiento. Git: tareas de versionamiento con
Git. Integración de Git con un IDE.
Maven: descripción y utilidad. Descripción de la estructura de un proyecto Maven. Gestión de dependencias,
repositorio Maven. Uso de arquetipos Maven. Spring boot y Maven.</p>
		<h3 class="titulo3">UNIDAD IV: Spring Boot MVC</h3>
		<p class="parrafo">Thymeleaf como motor de templates. Creación de un proyecto MVC con Spring Boot y thymeleaf.
Configuración de propiedades mediante el fichero properties o yml. Introducción a Bootstrap: concepto e
implementación de componentes. Navbar. Grillas con Bootstrap. Cards. Buttons. Breadscrumb.</p>
		<h3 class="titulo3">UNIDAD V: Clases de negocio</h3>
		<p class="parrafo">Creación de clases de negocio. Clases de Servicio. Concepto de Inyección de dependencias. Vinculación entre
clases de negocio con Servicios. Agregar objetos al modelo (Model). Renderizado de la UI con Thymeleaf.</p>
		<h3 class="titulo3">UNIDAD VI: Persistencia de Objetos</h3>
		<p class="parrafo">Conceptos básicos de persistencia de objetos. Introducción a JPA. Conexión a un Motor de Base de Datos.
Configuración de JPA con Spring Boot. CrudRepository, JpaRepository, Query Methods, Relaciones. Sistema
de trazas: configuración con Spring Boot.</p>
		<h3 class="titulo3">UNIDAD VII: Manejo de formularios</h3>
		<p class="parrafo">Gestión de eventos. Búsquedas. CRUD de clases de negocio. Operaciones de negocio. Uso de @Query para
consultas personalizadas. Integración con componentes Bootstrap y thymeleaf. Integración de conceptos en
una aplicación robusta.</p>


		<table class="tabla" border="1">
		    <caption class="titulo">BIBLIOGRAFÍA DE CONSULTA</caption>
		    <tbody>
		        <!-- Primera fila -->
		        <tr>
		            <td class="txt">Título</td>
		            <td class="txt">Autores</td>
		            <td class="txt">Editorial</td>
		            <td class="txt">Año de edición</td>
		            <td class="txt">Ejemplares disponibles</td>
		        </tr>
		        <!-- Segunda fila -->
		        <tr>
		            <td class="txt">Spring Boot Arquitectura de Back End</td>
		            <td class="txt">Rafael Benedettelli</td>
		            <td class="txt">-</td>
		            <td class="txt">2022</td>
		            <td class="txt">12</td>
		        </tr>
		        <!-- Tercera fila -->
		        <tr>
		            <td class="txt">Spring Microservices</td>
		            <td class="txt">Rajesh RV</td>
		            <td class="txt">Packt Publishing</td>
		            <td class="txt">2016</td>
		            <td class="txt">12</td>
		        </tr>
		        <!-- Cuarta fila -->
		        <tr>
		            <td class="txt">Spring boot reference 3.2.4 release*</td>
		            <td class="txt">Phillip Webb, Dave Syer, Josh Long, Stéphane Nicoll, Rob Winch, Andy Wilkinson, Marcel
Overdijk, Christian Dupuis, Sébastien Deleuze, Michael Simons</td>
		            <td class="txt">-</td>
		            <td class="txt">2024</td>
		            <td class="txt">5</td>
		        </tr>
		        <!-- Quinta fila -->
		        <tr>
		            <td class="txt">Spring Data</td>
		            <td class="txt">Petri Kainulainen</td>
		            <td class="txt">Packt Publishing</td>
		            <td class="txt">2012</td>
		            <td class="txt">1</td>
		        </tr>
		    </tbody>
		</table>





		<section id="Despedida">
			<h2 class="titulo2">Anuncios Importantes</h2>
			<h3 class="titulo3">Examen</h3>
			<h3 class="titulo3">Dia: Miercoles 15 de mayo </h3>
			<h3 class="titulo3">Hora: 14 pm.</h3>
			<h3 class="titulo3">Lugar: Anfiteatro Planta Baja</h3>
			
			<p class="parrafo">Elementos que debe llevar:</p>
			<ol class="lista">
				<li>DNI </li>
				<li>Papel </li>
				<li>Lapicera</li>
			</ol>
			<h3 class="titulo3">Temas:</h3>
			<p class="parrafo">Lo visto en las semana 1, 2, 3, 4, 5 y 6 hasta framework</p>
			
		</section>
		
		</main>
		<footer id="pie">
		<h4>Redes Sociales</h4>
			
    		<ul class="redes">
    		
				<li><a class="enlace" href="https://www.facebook.com/fiunju/">Facebook</a></li>
				<li><a class="enlace" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a></li>
				<li><a class="enlace" href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">Linkedin</a></li>
				<li><a class="enlace" href="https://www.instagram.com/fiunju/">Instagram</a></li>
			
			</ul>
    	
    	
		</footer>
		<aside class="final">
			<h3 class="titulo3">Adicionales</h3>
			<h4>Concurso de mejores Tesis</h4>
			<p class="parrafo">INVAP apuesta y confía en el talento argentino desde su fundación, mucho antes de que se hablara de la sociedad del conocimiento. Hoy, en línea con esta convicción, volvemos a invitar a los y las estudiantes junto a su comunidad universitaria a participar de la segunda edición del Concurso Nacional a las Mejores Tesis de Ingeniería del país.</p>
			
			<img alt="imagen no disponible" src="../static/images/mejores-tesis-concurso.jpg"><br>
			<a href="https://www.invap.com.ar/concursotesis/">Mas info</a>
		</aside>
		
	</body>
</html>